/* .landing-content img {
  width: 1000px;
} */
.landing-content {
  display: flex;
  align-items: center;
  padding: 35px;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  width: cover;
  width: cover;
  height: 85vh;
  background-position: center;
  background-image: url("../assets/images/landing2.jpg");
}
.landing-header-info {
  color: black;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-color: seashell;
  padding: 25px;
  border-radius: 10px;
  /* margin-left: 25px; */
}
.landing-header-info p {
  font-size: 1.2rem;
  padding-top: 25px;
}
.landing-buttons button {
  margin-top: 35px;
  margin-right: 25px;
  font: inherit;
  font-size: 1rem;
  padding: 10px 25px;
  outline: none;
  color: white;
  border-radius: 5px;
  background: linear-gradient(to left, #ff0000 0%, #000000 100%);
  cursor: pointer;
  transition: 0.4s ease;
}
.landing-buttons button:hover {
  background: transparent;
  color: black;
}
.landing-featured-story-img img {
  max-width: 550px;
  max-height: 550px;
  margin: 65px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.landing-featured-story-img {
  position: relative;
}
.landing-featured-story-img span {
  flex-direction: column;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 400px;
  left: 125px;
  max-width: 250px;
  font-size: 1.3rem;
  color: black;
  font-weight: 800;
  background: white;
  padding: 5px;
  border-radius: 10px;
}
.landing-featured-story {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-featured-content {
  display: flex;
  flex-direction: column;
  max-width: 550px;
}
.landing-featured-content h1 {
  font-size: 3rem;
  max-width: 500px;
  padding-bottom: 25px;
}
.landing-featured-content .story-content {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 25px 0px;
}

.landing-featured-content .story-line {
  letter-spacing: 5px;
}
.more-button {
  padding: 15px 0px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background: linear-gradient(to left, #ff0000 0%, #000000 100%);
  font-size: 1rem;
  color: white;
  font-weight: 800;
  border-radius: 5px;
}
.more-button:hover {
  background: transparent;
  color: #000000;
  border: 1px solid black;
}
.stats-card img {
  max-width: 350px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 0px 1px;
  margin-bottom: 20px;
}
.landing-statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}
.stats-card p {
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stats-card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  margin-right: 50px;
  border: 3px solid transparent; /* Set a transparent border */

  box-shadow: rgba(0, 0, 0, 0.46) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 0px 1px;
  margin-bottom: 20px;
  border-image: linear-gradient(to left, #ff0000 0%, #000000 100%);
  border-image-slice: 1;
  background-color: seashell;
}
.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: var(--theme);
}
.stat li {
  font-size: 1.2rem;
  font-weight: 800;
}
