/* .landing-content img {
  width: 1000px;
} */
.landing-content {
  display: flex;
  align-items: center;
  padding: 35px;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  width: cover;
  width: cover;
  height: 85vh;
  background-position: center;
  background-image: url("../assets/images/landing2.jpg");
}
.landing-header-info {
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background: white;
  padding: 25px;
  border-radius: 10px;
}
.landing-header-info p {
  font-size: 1.2rem;
  padding-top: 25px;
}
